{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
404|听·音乐
{% endblock %}

{% block content %}
<body class="bg-light dk">
    <section id="content">
    <div class="row m-n">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="text-center m-b-lg">
          <h1 class="h text-white animated fadeInDownBig">404</h1>
        </div>
        <div class="list-group auto m-b-sm m-b-lg">
          <a href="{% url 'index' %}" class="list-group-item">
            <i class="fa fa-chevron-right icon-muted"></i>
            <i class="fa fa-fw fa-home icon-muted"></i> 返回首页
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-chevron-right icon-muted"></i>
            <i class="fa fa-fw fa-question icon-muted"></i>反馈我们
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-chevron-right icon-muted"></i>
            <span class="badge bg-info lt">15327648069</span>
            <i class="fa fa-fw fa-phone icon-muted"></i>联系我
          </a>
        </div>
      </div>
    </div>
  </section>
</body>
{% endblock %}