{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    听·音乐|有你喜欢的！
{% endblock %}
{% block content %}
    <section class="scrollable padder-lg w-f-md" id="bjax-target">
        <a href="#" class="pull-right text-muted m-t-lg" data-toggle="class:fa-spin"><i
                class="icon-refresh i-lg  inline" id="refresh"></i></a>
        <h2 class="font-thin m-b">发现 <span class="musicbar animate inline m-l-sm"
                                           style="width:20px;height:20px">
                    <span class="bar1 a1 bg-primary lter"></span>
                    <span class="bar2 a2 bg-info lt"></span>
                    <span class="bar3 a3 bg-success"></span>
                    <span class="bar4 a4 bg-warning dk"></span>
                    <span class="bar5 a5 bg-danger dker"></span>
                  </span></h2>
        <div class="row row-sm">
            {% for music in all_music %}
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="item">
                        <div class="pos-rlt">
                            <div class="bottom">
                                <span class="badge bg-info m-l-sm m-b-sm">{{ music.music_time }}&nbsp;分钟</span>

                            </div>
                            <div class="item-overlay opacity r r-2x bg-black">
                                <div class="text-info padder m-t-sm text-sm">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o text-muted"></i>
                                </div>
                                <div class="center text-center m-t-n">
                                    <a href="{% url 'music_play' music.id %}"><i class="icon-control-play i-2x"></i></a>
                                </div>
                                <div class="bottom padder m-b-sm">
                                    <a href="{% url 'music_play' music.id %}" class="pull-right">
                                        <i class="fa fa-heart-o"></i>
                                    </a>
                                    <a href="{% url 'music_play' music.id %}">
                                        <i class="fa fa-plus-circle"></i>
                                    </a>
                                </div>
                            </div>
                            <a href="{% url 'music_play' music.id %}"><img src="{{ music.image.url }}" alt=""
                                                                           class="r r-2x" width="187.66px" height="281.48px"></a>
                        </div>
                        <div class="padder-v">
                            <a class="text-ellipsis">{{ music.music_name }}</a>
                            <a href="{% url 'singer_detail' music.singer_id %}"
                               class="text-ellipsis text-xs text-muted">{{ music.singer }}</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <li class="list-group-item">
                    暂无歌曲
                </li>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-7">
                <h3 class="font-thin">新歌榜单</h3>
                <div class="row row-sm">
                    {% for new_music in new_musics %}
                        <div class="col-xs-6 col-sm-3">
                            <div class="item">
                                <div class="pos-rlt">
                                    <div class="item-overlay opacity r r-2x bg-black">
                                        <div class="center text-center m-t-n">
                                            <a href="{% url 'music_play' new_music.id %}"><i
                                                    class="fa fa-play-circle i-2x"></i></a>
                                        </div>
                                    </div>
                                    <a href="{% url 'music_play' new_music.id %}"><img
                                            src="{{ new_music.image.url }}" alt=""
                                            class="r r-2x" width="100%" height="140px"></a>
                                </div>
                                <div class="padder-v">
                                    <a class="text-ellipsis">{{ new_music.music_name }}</a>
                                    <a href="{% url 'singer_detail' new_music.singer_id %}"
                                       class="text-ellipsis text-xs text-muted">{{ new_music.singer }}</a>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <li class="group-item">
                            暂无新歌
                        </li>
                    {% endfor %}

                </div>
            </div>
            <div class="col-md-5">
                <h3 class="font-thin">入驻歌手</h3>
                <div class="list-group bg-white list-group-lg no-bg auto">
                    {% for singer in hot_singer %}
                        <a href="{% url 'singer_detail' singer.id %}" class="list-group-item clearfix">
                            <span class="pull-right h2 text-muted m-l">{{ singer.fav_nums }}</span>
                            <span class="pull-left thumb-sm avatar m-r">
                            <img src="{{ singer.avatar.url }}" alt="...">
                        </span>
                            <span class="clear">
                            <span>{{ singer.name }}</span>
                            <small class="text-muted clear text-ellipsis">{{ singer.desc }}</small>
                            <small class="text-muted clear text-ellipsis">来自:&nbsp;{{ singer.national }}</small>
                        </span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if request.user.is_authenticated %}
        {% else %}
            <div class="row m-t-lg m-b-lg">
            <div class="col-sm-6">
                <div class="bg-primary wrapper-md r">
                    <a href="{% url 'login' %}">
                        <span class="h4 m-b-xs block"><i class=" icon-user-follow i-lg"></i>登录或注册</span>
                        <span class="text-muted">当你登陆才能收藏歌曲和创建列表</span>
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="bg-black wrapper-md r">
                    <a>
                        <span class="h4 m-b-xs block"><i class="icon-cloud-download i-lg"></i> 下载APP</span>
                        <span class="text-muted">下载我们的桌面APP随时随地尽情享受吧</span>
                    </a>
                </div>
            </div>
        {% endif %}
        </div>
    </section>
{% endblock %}

