{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    正在播放|>>{{ music.music_name }}
{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/em_play.css' %}" type="text/css"/>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div id="music">
                <div id="container">
                    <!--音乐播放器及音乐信息 -->
                    <h3 id="musicName">{{ music.music_name }}</h3>
                    <img src="{{ music.image.url }}" width="150px" height="150px" alt="" class="img-circle">

                    <audio src="{{ music.music_file.url }}" controls id="audio"></audio>
                    <div class="text-center text-dark">
                        <h4>歌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手:&nbsp;&nbsp;&nbsp;&nbsp;<a
                                href="{% url 'singer_detail' music.singer_id %}">{{ music.singer }}</a></h4>
                        <h4>发布时间:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ music.add_time|date:"Y-m" }}</h4>
                    </div>
                    <!--音乐播放器及音乐信息 -->
                    <!-- 播放器控制按钮-->
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" id="prev" class="btn btn-info"><i class="fa fa-backward"></i></button>
                        <button type="button" id="play" class="btn btn-success"><i class="fa fa-play"></i></button>
                        <button type="button" id="pause" class="btn btn-danger"><i class="fa fa-pause"></i></button>
                        <button type="button" id="next" class="btn btn-info"><i class="fa fa-forward"></i></button>
                    </div>
                    <div style="margin-top: 50px;">
                        <form method="POST" action="{% url 'fav_music' %}">
                            <div class="form-group">
                                <input type="hidden" name="music_id" value="{{ music.id }}">
                                {% if has_fav_music %}
                                    <button style="" type="submit" disabled="disabled"
                                            class="btn btn-primary btn-rounded">
                                        &nbsp;&nbsp;已收藏&nbsp;&nbsp;</button>
                                {% else %}
                                    <button style="" type="submit" onclick="myFunction()"
                                            class="btn btn-danger btn-rounded">
                                        收藏电影
                                    </button>
                                {% endif %}
                            </div>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-danger" style="margin: 10px 20px">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-comments"></span>&nbsp;音乐评论</h3>
                </div>
                <div class="panel-body">
                    {% if request.user.is_authenticated %}
                    {% else %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">×</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <strong>请先<a href="{% url 'login' %}" target="_blank"
                                         class="text-info">登录</a>，才可参与评论！</strong>
                        </div>
                    {% endif %}

                    {% if request.user.is_authenticated %}
                        <form role="form" style="margin-bottom:6px;" method="post" action="{% url 'music_comment' %}">
                            <div class="form-group">
                                <div>
                                    <input type="hidden" name="music_id" value="{{ music.id }}">
                                    <textarea name="content" id="input_content"></textarea>
                                </div>
                                <div class="col-xs-8" id="error_content"></div>
                            </div>
                            <button type="submit" class="btn btn-success">提交评论</button>
                            {% csrf_token %}
                        </form>

                    {% endif %}
                    <ul class="list-group list-group-lg no-bg auto m-b-none m-t-n-xxs">
                        {% for comment in comments.object_list %}
                            <li class="list-group-item clearfix">
                                <a href="{% url 'user_center' %}" class="pull-left  m-r">
                                    <img src="{{ comment.user.avatar.url }}" height="45px" width="45px"
                                         alt="...">
                                </a>
                                <a class="clear" href="{% url 'user_center' %}">
                                    <span class="block text-ellipsis">{{ comment.user.username }}</span>
                                    <small class="text-muted">
                                        {% autoescape off %}{{ comment.content }}{% endautoescape %}</small>
                                    <small class="pull-right">时间:{{ comment.add_time|date:"Y-m-d H:i" }}</small>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="col-md-12 text-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                {% if comments.has_previous %}
                                    <li>
                                        <a href="?{{ comments.previous_page_number.querystring }}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">上一页</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% for page in comments.pages %}
                                    {% if page %}
                                        {% ifequal page comments.number %}
                                            <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                        {% else %}
                                            <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                        {% endifequal %}
                                    {% else %}
                                        <li class="none"><a href="">...</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if comments.has_next %}
                                    <li>
                                        <a href="?{{ comments.next_page_number.querystring }}" aria-label="Next">
                                            <span aria-hidden="true">下一页</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_js %}
    <script type="text/javascript" src="{% static 'ueditor/ueditor.config.js' %}"></script>
    <script type="text/javascript" src="{% static 'ueditor/ueditor.all.js' %}"></script>
    <script type="text/javascript" src="{% static 'ueditor/lang/zh-cn/zh-cn.js' %}"></script>

    <script>
        var ue = UE.getEditor('input_content', {
            toolbars: [
                ['fullscreen', 'emotion', 'preview', 'link']
            ],
            initialFrameWidth: "100%",
            initialFrameHeight: "100",
        });
    </script>

    <script>

        play.onclick = function () {
            if (audio.paused) {
                audio.play();
            }
        }

        // 暂停
        pause.onclick = function () {
            if (audio.played) {
                audio.pause();
            }
        }
        //自动切换下一首
        audio.addEventListener('ended', function () {
            next.onclick();
        }, false);

        // 上一首
        prev.onclick = function () {
            num = (num + len - 1) % len;
            audio.src = './music/' + music[num] + '.mp3';
            musicName.innerHTML = music[num];
            bgImage.style.backgroundImage = 'url(./image/' + music[num] + '.jpg)';
            musicImg.src = './image/' + music[num] + '.jpg';
            audio.play();
        }

        // 下一首
        next.onclick = function () {
            num = (num + 1) % len;
            audio.src = './music/' + music[num] + '.mp3';
            musicName.innerHTML = music[num];
            bgImage.style.backgroundImage = 'url(./image/' + music[num] + '.jpg)';
            musicImg.src = './image/' + music[num] + '.jpg';
            audio.play();
        }
    </script>
    <script>
        function myFunction() {
            alert("收藏成功！");
        }
    </script>
{% endblock %}